<?php

/*
* Configuration File
*/
$config = array(
    'title' => "Kanbasks",
    'data_filepath' => 'data/data.json',
    'textarea_height' => 3,
    'debug' => 0
);

if ($config['debug'] == 1) {
    // PHP debug
    error_reporting(E_ALL);
    ini_set('display_errors', 1);

    // To debug possible files permissions issues, uncomment following line to display which user is running php
    // $msgDebug .= " (user : '".exec('whoami')."')";
    echo 'SESSION values : <pre>' . var_export($_SESSION, true) . '</pre>';
    echo 'POST values : <pre>' . var_export($_POST, true) . '</pre>';
    echo'<hr>';
  }

return $config;
